# ===== Windows / .NET =====
bin/
obj/
.vs/
*.user
*.suo
AppPackages/
publish/
.artifacts/

# ===== Android =====
.gradle/
build/
local.properties
*.apk
*.aab
*.keystore
!debug.keystore
captures/
.externalNativeBuild/
.cxx/

# ===== IDE =====
.idea/
*.iml
.vscode/
